<div class="flex flex-col gap-2">
  <label [for]="id()">
    {{ label() }}
  </label>
  <div class="relative">
    <input
      #input
      [type]="type()"
      [placeholder]="placeholder()"
      [formControl]="control()"
      [id]="id()"
      class="border border-gray-300 p-2.5 w-full block outline-0 placeholder:text-gray-400"
      [class]="{
        'border-red-600': (control().hasError('required') || control().hasError('email')) && control().touched,
        'focus:ring-0':(control().hasError('required') || control().hasError('email'))  && control().touched,
      }"
    />
    @if (type() === 'password') {
      <button
        type="button"
        (click)="toggleType()"
        class="absolute bottom-0 right-3 -translate-y-1/2 cursor-pointer"
      >
        @if (showPassword()) {
          <i class="fa-solid fa-eye text-gray-200"></i>
        } @else {
          <i class="fa-solid fa-eye-slash text-gray-200"></i>
        }
      </button>
    }
  </div>
    @if (control().errors && control().touched) {
      @if(control().hasError('required')){
        <p class="error text-red-600">Your {{ label() }} is required</p>
      }
      @if(control().hasError("email")){
        <p class="error text-red-600">Please Enter Valid Email</p>
      }
      @if( control().hasError("pattern")&& control().touched){
        <ul>
          <li class="error text-red-600 text-[14px] list-disc">Password must be at least 8 characters</li>
          <li class="error text-red-600 text-[14px] list-disc my-1.5">Password must include at least one uppercase letter</li>
          <li class="error text-red-600 text-[14px] list-disc">Password must include at least one special character</li>
        </ul>
      }
    }
    
</div>
