<form [formGroup]="passwordForm" class="mono flex flex-col gap-4 p-3" (ngSubmit)="changePassword()">
    <app-input [type]="'password'" id="current-password" label="Current Password" [control]="currentPassword"></app-input>
    <app-input [type]="'password'" id="new-password" label="New Password" [control]="newPassword"></app-input>
    <app-input [type]="'password'" id="confirm-password" label="Confirm New Password" [control]="confirmPassword"></app-input>
    @if(passwordForm.errors && confirmPassword.touched){
        <app-error-banner></app-error-banner>
    }
    <app-button type="submit">Update Password</app-button>
</form>