<app-stepper [currentStep]="4"></app-stepper>
<h2 class="title text-2xl md:text-3xl font-bold my-4">Create Account</h2>
<h2 class="text-blue-600 text-2xl font-bold mb-2.5">Create a strong password</h2>
<form [formGroup]="registerForm" class="flex flex-col gap-4 mono" (ngSubmit)="sendForm()">
  <div class="password flex flex-col gap-2.5">
    <app-input [type]="'password'" id="password" label="Password" placeholder="********" [control]="passwordControl"></app-input>
  </div>
  <div class="rePassword flex flex-col gap-2.5">
    <app-input [type]="'password'" id="rePassword" label="Confirm Password" placeholder="********" [control]="rePasswordControl"></app-input>
    @if (registerForm.hasError("mismatch") && !rePasswordControl.errors) {
        <p class="error text-red-600">Confrirm Password Does Not Match</p>
    }
    @if((passwordControl.hasError("required") && passwordControl.touched) || (rePasswordControl.hasError("required") && rePasswordControl.touched) || registerForm.hasError("mismatch")){
      <app-error-banner></app-error-banner>
    }
  </div>
  <app-button type="submit">Create Account </app-button>
</form>
