@import "tailwindcss";

html{
    font-family: "Inter", sans-serif;
}
.mono{
    font-family: "Geist Mono", monospace;
}

.card .p-inputtext:enabled:focus{
    border-color: #155DFC;
    color: #155DFC;
}