.chart {
  --correct: 10%;
  width: 203px;
  height: 203px;
  border-radius: 50%;

  background: conic-gradient(
    #10b981 0 var(--correct),
    #ef4444 var(--correct) 100%
  );

  display: grid;
  place-items: center;
}

.chart::before {
  content: "";
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #F9FAFB;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #E5E7EB; 
}